@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  li {
    border-radius: none;
  }
  .project-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-links a {
    font-size: 18px;
  }
  .contact-links li {
    margin-bottom: 10px;
  }
  .contact-links ul {
    flex-direction: column;
  }
  .project-wrapper {
    width: 80%;
  }
  .socials {
    left: 5px;
  }
  .darkmodetoggle {
    right: 5px;
  }
  .rchtect-logo {
    left: 5px;
  }

}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 18px;
  }
  .nav-wrapper {
    display: none;
  }
  :root {
    --icn-size: 30px;
  }
  #cta {
    justify-content: center;
  }
  .section-title {
    font-size: 24px;
    padding: 5px;
  }
  .paragraph {
    background-color: var(--toggle-color);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }
  .wrapper {
    background-color: unset;
  }
  .logo {
    display: none;
  }
  p {
    font-size: 14px;
  }
  img.thumbnail {
    display: none;
  }

  .project-wrapper {
    padding: unset;
  }
  .toggle-button svg {
    width: 32px;
  }
  .socials {
    display: none;
  }
  nav.mobile-nav {
    display: block;
  }
  nav {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    border-radius: none;
  }
  .darkmodetoggle {
    display: flex;
    flex: row;
    height: auto;
    justify-content: space-between;
    width: 100%;
  }
  #returnUp {
    height: 47px;
  }
}

@media only screen and (max-height: 630px) {
  .extra {
    display: none;
  }
  .project-wrapper {
    margin-top: 5px;
  }
  .project-txt {
    padding: 5px;
  }
  section {
    padding-top: 5px;
  }
}

@media only screen and (max-height: 750px) {
  .project-wrapper {
    margin-top: 5px;
  }
  .project-txt {
    padding: 5px;
  }

.socials {
    display: none;
}

  .section-title {
    padding: 15px;
  }
  img.thumbnail {
      max-height: 200px;
  }
}

@media only screen and (max-height: 900px) {
  .section-title {
    padding: 0;
  }
}

@media only screen and (max-width: 940px) {
    img.thumbnail {
        display: none;
    }
    .project-wrapper {
        align-items: center;
        padding: 2px;
        margin-right: 5px;
        margin-left: 5px;
        min-height: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    img.thumbnail-small {
      display: block;
    }
    .project-txt {
      padding: 0;
      justify-content: space-between;
      align-self: flex-start;
      height: 100%;
    }

    .project-container {
      flex-direction: row;
    }
    .project-txt p {
      max-width: 90%;
    }
    .right {align-self: center;}
    .project-links {
      align-self: center;
    }   
}

@media only screen and (max-width: 385px) {
  .extra {
    display: none;
  }
}

@media only screen and (max-height: 600px) {
  img.thumbnail {
    display: none;
  }
  img.thumbnail-small {
    display: block;
  }
  .project-wrapper {
    align-items: center;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 100%;
    justify-content: center;
    margin-top: 15px;
}
img.thumbnail-small {
  display: block;
}
.project-txt {
  padding: 0;
  justify-content: space-between;
  align-self: flex-start;
  height: 100%;
}

.project-container {
  flex-direction: row;
}
.project-txt p {
  max-width: 90%;
}
.right {align-self: center;}
.project-links {
  align-self: center;
} 

p.projects {
  max-width: 300px;
}
}
