/* Global Scopes */
:root {
  --toggle-color: rgb(0, 0, 0);
  --bg-color: rgba(247, 0, 255, 0.438);
  --btn-padding: 7px;
  --icn-size: 35px;
  --bg-grad: linear-gradient(to left, #c4d2ff 0%, #ffbfbf 100%);
  --grad: linear-gradient(to left, rgb(255, 161, 161) 0%, rgb(185, 185, 255) 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Fira Code", monospace;
  list-style-type: none;
  color: var(--toggle-color);
  transition-duration: 150ms;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

/* HTML Attribute Scopes */

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding: var(--btn-padding);
}

a.hide {
  display: none;
}

a.show {
  display: block;
}

a#up-icn {
  transform: rotate(-90deg);
  text-decoration: none;
  font-size: 28px;
  margin-bottom: 20px;
}

b:hover {
  padding: 10px;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(4px);
}

b#b-intro {
  color: black;
}

button {
  border: none;
}

h2 {
  margin-bottom: 10px;
}

li {
  border-radius: 100px;
}
li:hover {
  background: var(--grad);
  border-radius: 100px;
  background-color: white;
}

li.nav-itm {
  border-radius: 0px;
  margin-left: 2px;
}

li.nav-itm:hover {
  background: white;
}

li a:hover {
  color: black;
  text-decoration: none;
}

li.btn-social {
  transition-duration: 150ms;
  margin-top: 20px;
}

li.nav-itm {
  margin-left: 4px;
  font-size: 20px;
}

li.btn-social:hover {
  transition-duration: 150ms;
  transform: translateY(-5px);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  border-radius: 0px;
}

path {
  transition-duration: 0ms;
}

p {
  padding: 5px;
  margin-left: 20px;
  max-width: 900px;
}

p.projects {
  max-width: 500px;
}

p.projects:hover {
  filter: invert(100%);
}

p:hover {
  padding: 10px;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  background: var(--bg-grad);
}

svg {
  height: auto;
  width: var(--icn-size);
  fill: var(--toggle-color);
  transition-duration: 0ms;
}

ul.nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
}

.intro {
  text-align: center;
  color: black;
}

.intro-container {
  padding: 10px 20px 10px 20px;
  background-color: white;
  width: 80%;
  max-width: 600px;
}

.typewriter-txt {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* ID Elements scope */
#cta {
  position: relative;
  align-items: center;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(3px);
}

#returnUp {
  transition-duration: 150ms;
  transform: translateY(-5px);
}

/* Classes Scope */

.aboutme {
  align-items: center;
}

.contact {
  align-items: center;
}

.contact-txt {
  margin: unset;
  font-size: 16px;
  filter: invert();
}

.contact-links {
  display: flex;
  margin-top: 20px;
}

.contact-links li {
  border-radius: unset;
  background: black;
}
.contact-links li:hover {
  border-radius: unset;
  background: white;
  color: black;
}

.contact-links a {
  margin: 5px;
  font-size: 30px;
  color: white;
}

.contact-links ul {
  display: flex;
  flex-direction: row;
  filter: invert();
}

.contact-wrapper {
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert();
  width: 80%;
  max-width: 900px;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.darkmodetoggle {
  position: fixed;
  bottom: 0;
  right: 40px;
  margin-bottom: 10px;
}

.just-another-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 51px;
  width: auto;
}

.mobile-nav {
  display: none;
  justify-content: center;
  flex-direction: row;
}

.paragraph {
  text-align: left;
  margin-top: 40px; margin-bottom: 40px;
}

.proj {
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
}

.project-links {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: auto;
}

.project-social {
  margin-right: 5px;
  margin-left: 5px;
}


.project-social:hover {
  background: var(--grad);
  border-radius: 100px;
  transition: 0s;
}

.project-txt {
  filter: invert();
  padding: 20px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-txt p:hover {
  filter: invert(0%);
}

.project-wrapper {
  background-color: var(--toggle-color);
  padding: 20px;
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  filter: invert(100%);
}

.rchtect-logo {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
  backdrop-filter: blur(2px);
  border-radius: 100px;
  margin-top: 10px;
}

.right {
  align-self: flex-start;
}

.section-title {
  padding: 20px;
  font-size: 2em;
}

.socials {
  position: fixed;
  bottom: 0;
  left: 40px;
  margin-bottom: 10px;
}

.thumbnail {
  height: 300px;
  width: auto;
  filter: invert();
}

.thumbnail-small {
  display: none;
  filter: invert(0%);
  height: 20vh;
  width: auto;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: var(--btn-padding);
  border-radius: 100px;
}

.toggle-button:hover {
  transition-duration: 300ms;
  transform: translateY(-5px);
  background: var(--grad);
}

.white {
  filter: invert(0%);
}

.wrapper {
  filter: invert();
  max-width: 900px;
  background-color: var(--toggle-color);
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper p {
  filter: invert();
}
